{% extends 'base.html.twig' %}

{% block title %}Welcome ...{% endblock %}

{% block body %}

    {{ dump(products) }}

    <h1>Liste des produits</h1>

    {% if products|length == 0 %}
        <p>Aucun produit</p>
    {% endif %}

    {% for product in products %}

        <li>{{ product.name }} à {{ product.price }}€
            <a href="{{ path("product_update",{id:product.id})  }}">modifier le produit</a>
            <a href="{{ path("cart_add_product",{idProduct:product.id})  }}">ajouter le produit au panier</a>

            <a href="{{ path("product_delete",{id:product.id})  }}">supprimer le produit</a>
        </li>
    {% endfor %}

{% endblock %}
